body{
  background-color: rgb(105, 241, 235)
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img{
width:28% !important;
margin-top: 20px;
margin-bottom: 20px;
}